* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.game-of-life {
<<<<<<< HEAD
  font-family: Monaco, monospace;
  font-size: 1.5rem;
}

.game-of-life table {
  border: 1px solid #eee;
  border-collapse: collapse;
  table-layout: fixed;
}

.game-of-life td {
  width: 30px;
  height: 30px;
  overflow: hidden;
  white-space: nowrap;
  text-align: center;
=======
    font-family: Courier, monospace;
}

.off {
    color: white;
}

table {
    border-collapse: collapse;
}

table, td {
    border: 1px solid black;
>>>>>>> Improved visual experience a little.
}
