* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.game-of-life {
  font-family: Courier, monospace;
  font-size: 1.5rem;
}

.game-of-life table {
  border-collapse: collapse;
  table-layout: fixed;
}

.game-of-life td {
  border: 1px solid #eee;
  width: 30px;
  height: 30px;
  overflow: hidden;
  text-align: center;
  white-space: nowrap;
}

.game-of-life td.off {
  color: white;
}
