* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  margin: 0;
}

.legend {
  position: fixed:
  z-index: 1;
  margin: 10px;
  font-family: Monaco, monospace;
  color: #555;
}
.legend strong {
  color: #f00;
}
.game-of-life {
  position: fixed;
}
